# Environment
.env

# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war

# Node / Angular
node_modules/
dist/
.angular/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
